---
title: Cloudflare Service Broker for PCF (Beta)
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }
    .note.warning:before {
        color: #f99;
    }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The Cloudflare Service Broker for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>

This documentation describes Cloudflare Service Broker for PCF.
The Cloudflare Service Broker for PCF tile registers a service broker with PCF and exposes the free service plan on the Marketplace. 
Developers can provision domains on Cloudflare using the Cloud Foundry Command Line Interface (cf CLI) tool.

## <a id='overview'></a>Overview

Cloudflare Service Broker for PCF includes the following key feature:

* Provisions domain names on Cloudflare

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Cloudflare Service Broker for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.0.4</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 24, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Services (PAS)* version(s)</td>
        <td>v2.0.0</td>
    </tr>
</table>
\* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>. If your tile supports PCF 2.0, it will use PAS, not Elastic Runtime.

## <a id="reqs"></a>Requirements

Cloudflare Service Broker for PCF has the following requirement:

+ A Cloudflare account. If you don't have one you can sign up [here](https://www.cloudflare.com/a/sign-up?utm_source=pi-pivotal&utm_medium=plugin&utm_campaign=pivotal&utm_content=signup_now).

## <a id="limitations"></a>Limitations

None

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or open a support ticket at [https://support.cloudflare.com](https://support.cloudflare.com).

## <a id='license'></a>License

BSD-3
