---
title: Cloudflare Service Broker for PCF
owner: Partners
---

This documentation describes the Cloudflare Service Broker for PCF.
The Cloudflare Service Broker for PCF registers a service broker on PCF and exposes teh free service plan on the Marketplace.
Developers can provision domains on Cloudflare using the cf CLI.

## <a id='overview'></a>Overview

The Cloudflare Service Broker for PCF includes the following key features:

* Provisions a domain name on Cloudflare.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Cloudflare Service Broker for PCF details:</dt>
<dd><strong>Version</strong>: v0.0.4 </dd>
<dd><strong>Release date</strong>: April 24, 2017</dd>
<dd><strong>Software component version</strong>: v0.0.4</dd>
<dd><strong>Compatible Ops Manager version(s)</strong>: v1.9.x</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>:v1.9.x</dd>
<dd><strong>IaaS support:</strong> All IaaS are supported</dd>
</dl>

## <a id="reqs"></a>Requirements

Cloudflare Service Broker for PCF has the following requirements:

+ You must have a Cloudflare account before using this service broker.  If you don't have one you can sign up [here](https://www.cloudflare.com/a/sign-up?utm_source=pi-pivotal&utm_medium=plugin&utm_campaign=pivotal&utm_content=signup_now).

## <a id="limitations"></a>Limitations

None

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or open a support ticket at [https://support.cloudflare.com](https://support.cloudflare.com).

## <a id='license'></a>License

BSD-3
