---
title: Installing and Configuring Cloudflare Service Broker for PCF
owner: Partners
---

##<a id='install'></a> Install and Configure Cloudflare Service Broker for PCF

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Cloudflare Service Broker for PCF.
This adds the tile to your staging area.

1. Click the newly added **Cloudflare Service Broker for PCF** tile.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the Cloudflare Service Broker for PCF tile.

1. Make sure the following environment variables are set in the command line, if you don't have a Cloudflare username and password you can get one [here](https://www.cloudflare.com/a/sign-up?utm_source=pi-pivotal&utm_medium=plugin&utm_campaign=pivotal&utm_content=signup_now).

You can set environment variables with the following command:
`export [VARIALBE]=[VALUE]` where `[VARIALBE]` is the variable name, and `[VALUE]` is its value.

* `USERNAME`
* `PASSWORD`
* `BROKER-URL`
* `PORT`
* `INSTANCE_ID`
