---
title: Installing and Configuring Cloudflare Pivotal CloudFoundry
owner: Partners
---

##<a id='install'></a> Install and Configure Cloudflare Pivotal CloudFoundry

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Cloudflare Pivotal CloudFoundry.
This adds the tile to your staging area.

1. Click the newly added **Cloudflare Pivotal CloudFoundry** tile.

1. **This portion of the procedure should tell the users how to configure the newly added tile by
walking them through the sections. Which fields should they fill out? What are the different
checkboxes? Include relevant screenshots here.**

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install Cloudflare Pivotal CloudFoundry tile.
